*,
*:before,
*:after {
  box-sizing: border-box;
  // outline: 1px solid lightgreen;
}

img {
  max-width: 100%;
  height: auto;
}

@mixin xxl {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin xl {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin pc {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin pad {
  @media (min-width: 768px) {
    @content;
  }
}
