<nav class="blog-nav blog-nav-sm">
  <div class="container">
    <ul class="blog-nav-menu">
      <li class="blog-nav-menu-item">
        <a href="#" class="blog-nav-menu-item-link">最新消息</a>
      </li>
      <li class="blog-nav-menu-item">
        <a href="#" class="blog-nav-menu-item-link">特別企劃</a>
      </li>
      <li class="blog-nav-menu-item">
        <a href="#" class="blog-nav-menu-item-link">新品上市</a>
      </li>
      <li class="blog-nav-menu-item">
        <a href="#" class="blog-nav-menu-item-link">鏡框小知識</a>
      </li>
    </ul>
    <span class="blog-nav-search">search</span>
  </div>
</nav>
