<section class="store-select container">
  <h1 class="store-select-title">門市據點</h1>
  <form class="store-select-form" name="taipei">
    <h2>
      <span>選擇分店</span>
      <input
        type="text"
        list="branchlist"
        class="store-select-form-select"
        id="branchInput"
      />
      <datalist id="branchlist">
        <option value="台北市中山旗艦店">台北市中山旗艦店</option>
        <option value="台北市綠園店">台北市綠園店</option>
        <option value="台中清水旗艦店">台中清水旗艦店</option>
        <option value="高雄中正形象店">高雄中正形象店</option>
        <option value="高雄夢時代店">高雄夢時代店</option>
      </datalist>
    </h2>
  </form>
</section>
