<ul class="pagination">
  <li class="pagination-item">
    <a href="#" class="pagination-item-pre">上一頁</a>
  </li>
  <li class="pagination-item">
    <a href="#" class="pagination-item-page">1</a>
  </li>
  <li class="pagination-item">
    <a href="#" class="pagination-item-page active">2</a>
  </li>
  <li class="pagination-item">
    <a href="#" class="pagination-item-page">3</a>
  </li>
  <li class="pagination-item">
    <a href="#" class="pagination-item-page">4</a>
  </li>
  <li class="pagination-item">
    <a href="#" class="pagination-item-page">5</a>
  </li>
  <li class="pagination-item">
    <a href="#" class="pagination-item-pre">下一頁</a>
  </li>
</ul>
