.footer {
  background: #aa0601;
  color: white;
  padding: 1.5rem 0;
  h2 {
    display: flex;
    align-items: center;
  }
  span {
    margin-right: 0.75rem;
  }
  a {
    color: white;
  }
  &-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &-menu {
      display: none;
    }
  }
  &-social {
    display: flex;
    gap: 0.5rem;
    &-item {
      &-link {
        &:hover img {
          transform: scale(1.3);
        }
      }
      img {
        width: 1.5rem;
        height: 1.5rem;
        transition: transform 0.3s linear;
      }
    }
  }
  &-tel {
    margin-top: -1.5rem;
    margin-bottom: 0.5rem;
    transition: all 0.5s ease;
    &:hover {
      background-color: white;
      color: $main-bg-color;
      a {
        color: $main-bg-color;
      }
    }
  }
  &-email {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid white;
    transition: all 0.5s ease;
    &:hover {
      background-color: white;
      color: $main-bg-color;
      a {
        color: $main-bg-color;
      }
    }
  }
  &-copyright {
    margin-top: 1rem;
    p {
      margin-bottom: 0.5rem;
      font-family: "Roboto", sans-serif;
    }
    a {
      display: block;
      margin-bottom: 0.5rem;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.5);
      }
    }
  }
}

@media (min-width: 768px) {
  .footer {
    .container {
      width: 90%;
    }
    h2 {
      font-size: 2.25rem;
    }
    span {
      font-size: 2.25rem;
    }
    &-nav {
      justify-content: space-between;
      &-menu {
        display: flex;
        gap: 3rem;
        &-item {
          a {
            &:hover {
              border-bottom: 3px solid #fff;
            }
          }
        }
      }
    }
    &-social {
      gap: 1rem;
      img {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
    &-tel {
      margin-top: 2rem;
    }
    &-email {
      padding-bottom: 2rem;
    }
    &-copyright {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;
      a {
        display: inline-block;
        &:first-child {
          margin-right: 3rem;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .footer {
    &-social {
      gap: 2rem;
      img {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}
