.optical {
  &.active {
    display: flex;
  }
  &-banner {
    display: none;
    &-pic {
      width: 50%;
      height: 136px;
      background-size: cover;
      @include pad {
        height: 296px;
      }
    }
    &-pic1 {
      background-image: url(../images/product-header-sm-1.png);
      @include pc {
        background-image: url(../images/product-header-1.png);
      }
    }
    &-pic2 {
      background-image: url(../images/product-header-sm-2.png);
      @include pc {
        background-image: url(../images/product-header-2.png);
      }
    }
  }
  &-section {
    display: none;
    &.active {
      display: block;
    }
  }
  &-content {
    text-align: center;
    margin-bottom: 1.5rem;
    &-title {
      font-size: 2.25rem;
      font-weight: 500;
      @include pad {
        font-size: 42px;
      }
    }
    &-description {
      font-size: 1.5rem;
      @include pad {
        font-size: 2rem;
      }
    }
  }
}
