.sunglasses {
  @extend .optical;
  &-banner {
    @extend .optical-banner;
    &-pic {
      @extend .optical-banner-pic;
    }
    &-pic1 {
      background-image: url(../images/product-header-sm-3.png);
      @include pc {
        background-image: url(../images/product-header-3.png);
      }
    }
    &-pic2 {
      background-image: url(../images/product-header-sm-4.png);
      @include pc {
        background-image: url(../images/product-header-4.png);
      }
    }
  }
  &-section {
    @extend .optical-section;
  }
  &-content {
    @extend .optical-content;
    &-title {
      @extend .optical-content-title;
    }
    &-description {
      @extend .optical-content-description;
    }
  }
}
