.blog {
  &-nav {
    background-color: $main-font-color;
    color: #fff;
    &-sm {
      display: none;
      @include pad {
        display: block;
      }
    }
    .container {
      display: flex;
      align-items: center;
      @include pad {
        justify-content: space-between;
      }
    }
    &-menu {
      display: flex;
      gap: 1.5rem;
      @include pad {
        gap: 3rem;
      }
      &-item {
        &-link {
          display: inline-block;
          font-size: 1rem;
          padding: 0.75rem 0;
          &:hover {
            background-color: #fff;
            color: $main-font-color;
          }
          transition: all 0.3s;
          @include pad {
            font-size: 1.25rem;
          }
        }
      }
    }
    &-search {
      display: none;
      @include pad {
        display: inline-block;
        font-family: "Material Icons Outlined";
        font-size: 30px;
      }
    }
  }
  &-list {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    margin-bottom: 4rem;
    @include pad {
      margin-bottom: 7.5rem;
    }
    &-card {
      display: flex;
      flex-direction: column;
      position: relative;
      &:hover {
        box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.125);
      }
      @include pad {
        flex-direction: row;
        height: 208px;
        &:hover {
          box-shadow: initial;
          transform: translateX(-1rem);
        }
      }
      @include pc {
        height: 400px;
      }
      &-pic {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        margin-bottom: 0.5rem;
        @include pad {
          width: $c2;
          margin-bottom: 0;
        }
      }
      &-content {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        @include pad {
          width: $c2;
        }
      }
      &-title {
        font-size: 1.5rem;
        color: $main-font-color;
      }
      &-subtitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include pad {
          margin-bottom: 0.25rem;
        }
        @include pc {
          margin-bottom: 1rem;
        }
        &-eng {
          font-weight: 500;
        }
        &-time {
          opacity: 0.7;
        }
      }
      &-text {
        display: none;
        @include pad {
          display: block;
        }
        @include pc {
          font-size: 1.25rem;
        }
        &-more {
          @include pc {
            display: block;
            text-transform: uppercase;
            font-size: 2.25rem;
            text-align: right;
            margin-top: 60px;
          }
          @include xl {
            margin-top: 90px;
          }
          @include xxl {
            margin-top: 120px;
          }
        }
        &-lg {
          display: none;
          @include pc {
            display: inline;
          }
        }
      }

      transition: all 0.5s;
    }
  }
}
