.branch {
  &-location {
    flex-direction: column;
    @include pc {
      flex-direction: row;
    }
  }
  &-card {
    display: flex;
    flex-direction: column;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    @include pad {
      flex-direction: row;
      justify-content: space-between;
    }
    @include pc {
      width: $col5;
      height: 414px;
      flex-direction: column;
    }
    img {
      @include pad {
        width: calc(50% - 12px);
      }
      @include pc {
        width: auto;
        height: 224px;
      }
    }
    &-main {
      @include pad {
        width: calc(50% - 12px);
      }
      @include pc {
        width: auto;
      }
    }
    &-title {
      font-size: 1.5rem;
      padding: 0.5rem 1.5rem;
      border: 1px solid rgb(0, 0, 0, 0.125);
    }
    &-content {
      padding: 1rem 1.5rem;
      border: 1px solid rgb(0, 0, 0, 0.125);
      font-size: 1.25rem;
      li {
        display: flex;
        align-items: center;
        &:not(:last-child) {
          padding-bottom: 0.5rem;
        }
      }
      a {
        display: flex;
        align-items: center;
        color: #000;
        transition: transform 0.3s;
        &:not(:last-child) {
          padding-bottom: 0.5rem;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
      span {
        font-family: "Material Icons Outlined";
        padding-right: 10px;
      }

      &-address {
        span {
          margin-bottom: 30px;
        }
      }
    }
  }
  &-map {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    width: 100%;
    height: 208px;
    @include pad {
      height: 414px;
    }
    @include pc {
      width: $col7;
    }
  }
}
