.branch {
  padding-top: 2.5rem;
  padding-bottom: 4rem;
  &-select {
    &-title {
      font-size: 1.5rem;
      font-weight: 700;
      padding-left: 1rem;
      border-left: 8px solid #9f1213;
      margin-bottom: 1.5rem;
    }
    &-form {
      margin-bottom: 1.5rem;
      h2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &-select {
        margin-left: 0.5rem;
        padding: 6px 12px;
        width: calc(82% - 12px);
        font-size: 18px;
        color: #495057;
      }
    }
  }
  &-card {
    display: flex;
    flex-direction: column;
    &-title {
      font-size: 1.5rem;
      padding: 0.5rem 1.5rem;
      border: 1px solid rgb(0, 0, 0, 0.125);
    }
    &-content {
      padding: 1rem 1.5rem;
      border: 1px solid rgb(0, 0, 0, 0.125);
      font-size: 1.25rem;
      li {
        display: flex;
        align-items: center;
        &:not(:last-child) {
          padding-bottom: 0.5rem;
        }
      }
      a {
        display: flex;
        align-items: center;
        color: #000;
        transition: transform 0.3s;
        &:not(:last-child) {
          padding-bottom: 0.5rem;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
      span {
        font-family: "Material Icons Outlined";
        padding-right: 10px;
      }

      &-address {
        span {
          margin-bottom: 30px;
        }
      }
    }
  }
  &-location {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  &-map {
    width: 100%;
    height: 208px;
  }
}

@media (min-width: 768px) {
  .branch {
    padding-top: 5rem;
    padding-bottom: 5rem;
    &-select {
      &-title {
        font-size: 3rem;
      }
      &-form {
        margin-bottom: 2rem;
        h2 {
          justify-content: initial;
        }
        span {
          font-size: 1.5rem;
        }
        &-select {
          margin-left: 1rem;
          width: 304px;
        }
      }
    }
    &-card {
      flex-direction: row;
      justify-content: space-between;
      gap: 1.5rem;
      img {
        width: calc(50% - 12px);
      }
      &-main {
        width: calc(50% - 12px);
      }
    }
    &-location {
      display: flex;
      gap: 1.5rem;
    }
    &-map {
      height: 414px;
    }
  }
}

@media (min-width: 992px) {
  .branch {
    .container {
      padding: 0 0.75rem;
    }
    padding-top: 6rem;
    &-select {
      &-title {
        font-size: 3rem;
      }
      &-form {
        margin-bottom: 2.5rem;
      }
    }
    &-card {
      width: calc(41.6667% - 14px);
      height: 414px;
      flex-direction: column;
      gap: 0;
      img {
        width: auto;
        height: 224px;
      }
      &-main {
        width: auto;
      }
    }
    &-location {
      flex-direction: row;
    }
    &-map {
      width: calc(58.3334% - 10px);
    }
  }
}
