.store {
  &-select {
    &-form {
      margin-bottom: 1.5rem;
      @include pad {
        margin-bottom: 2rem;
      }
      @include pc {
        margin-bottom: 2.5rem;
      }
      h2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include pad {
          justify-content: initial;
        }
      }
      span {
        margin-right: 0.5rem;
        @include pad {
          font-size: 1.5rem;
          margin-right: 1rem;
        }
      }
      &-input {
        padding: 6px 12px;
        width: calc(100% - 96px);
        font-size: 18px;
        color: #495057;
        @include pad {
          width: 304px;
        }
      }
    }
  }
  &-list {
    flex-wrap: wrap;
    @include pc {
      justify-content: initial;
    }
    a {
      color: #212529;
    }
    &-card {
      img {
        @include pad {
          height: 224px;
        }
      }
      &-title {
        font-size: 1.5rem;
        padding: 0.5rem 1.5rem;
        border: 1px solid rgb(0, 0, 0, 0.125);
      }
      &-content {
        padding: 1rem 1.5rem;
        border: 1px solid rgb(0, 0, 0, 0.125);
        font-size: 1.25rem;
        li {
          display: flex;
          align-items: center;
          &:not(:last-child) {
            padding-bottom: 0.5rem;
          }
        }
        span {
          font-family: "Material Icons Outlined";
          padding-right: 10px;
        }
        & + button {
          border: none;
          width: 100%;
          padding-top: 1rem;
          padding-bottom: 1rem;
          background-color: #000;
          color: #fff;
          font-size: 1.25rem;
        }
      }
      &-address {
        span {
          margin-bottom: 30px;
        }
      }
      &:hover {
        box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.125);
      }
    }
  }
  &-location {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
