.classic {
  &-title {
    color: $main-font-color;
  }
  &-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include pc {
      flex-direction: row;
    }
    &-card {
      div {
        overflow: hidden;
      }
      &-pic {
        margin-bottom: 0.5rem;
        transition: transform 0.5s ease;
        &:hover {
          transform: scale(1.2);
        }
      }
      &-title {
        font-size: 3rem;
        font-style: italic;
        font-weight: 700;
        text-align: center;
        color: $main-bg-color;
      }
    }
  }
}
