.home {
  background-image: url("../images/home-header-sm.png");
  background-size: cover;
  &-banner {
    color: $main-font-color;
    text-align: right;
    padding: 143px 0;
    h2 {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }
    a {
      display: inline-block;
      background-color: $main-bg-color;
      color: #fff;
      font-size: 1.25rem;
      padding: 6px 12px;
      transition: padding 0.5s ease;
      &:hover {
        padding-left: 3rem;
        padding-right: 3rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .home {
    &-banner {
      padding: 339px 0;
      h1 {
        font-size: 2.25rem;
      }
      h2 {
        font-size: 4rem;
      }
    }
  }
}

@media (min-width: 1200px) {
  .home {
    background-image: url("../images/home-header.png");
  }
}
