.introduction {
  background-color: #fbf2f2;
  &-title {
    color: $main-font-color;
    @include pad {
      margin-bottom: 1.5rem;
    }
  }
  &-list {
    flex-wrap: wrap;
    justify-content: center;
    &-card {
      &-pic {
        display: block;
        width: 84px;
        margin: 0 auto 1.5rem auto;
      }
      &-title {
        color: $main-font-color;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
      }
    }
  }
}
