<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>glasses-product</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <nav class="category">
      <div class="container">
        <ul class="category-menu">
          <li class="category-menu-item">
            <a href="#" class="category-menu-item-link active">OPTICAL</a>
          </li>
          <li class="category-menu-item">
            <a href="#" class="category-menu-item-link">SUNGLASSES</a>
          </li>
          <li class="category-menu-item">
            <a href="#" class="category-menu-item-link">FUNCTIONAL</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="optical-banner optical active">
      <figure class="optical-banner-pic optical-banner-pic1"></figure>
      <figure class="optical-banner-pic optical-banner-pic2"></figure>
    </div>
    <div class="sunglasses-banner sunglasses">
      <figure class="sunglasses-banner-pic sunglasses-banner-pic1"></figure>
      <figure class="sunglasses-banner-pic sunglasses-banner-pic2"></figure>
    </div>
    <main>
      <div class="container">
        <section class="optical-section active" id="optical">
          <div class="optical-content">
            <h2 class="optical-content-title">Celluloid Combi</h2>
            <p class="optical-content-description">賽璐珞鈦金屬混合鏡框</p>
          </div>
          <ul class="glasses-product">
            <li class="glasses-product-card">
              <img src="../assets/images/product-1.png" alt="glasses-1" />
              <h3 class="glasses-product-card-title">
                <span class="glasses-product-card-title-text">BJ41600S</span>
                <span class="glasses-product-card-title-price">NTD3,490</span>
              </h3>
              <div class="glasses-product-card-color">
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-green"
                ></a>
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-red"
                ></a>
              </div>
            </li>
            <li class="glasses-product-card">
              <img src="../assets/images/product-2.png" alt="glasses-2" />
              <h3 class="glasses-product-card-title">
                <span class="glasses-product-card-title-text">BJ41600S</span>
                <span class="glasses-product-card-title-price">NTD3,490</span>
              </h3>
              <div class="glasses-product-card-color">
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-green"
                ></a>
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-red"
                ></a>
              </div>
            </li>
            <li class="glasses-product-card">
              <img src="../assets/images/product-3.png" alt="glasses-3" />
              <h3 class="glasses-product-card-title">
                <span class="glasses-product-card-title-text">BJ41600S</span>
                <span class="glasses-product-card-title-price">NTD3,490</span>
              </h3>
              <div class="glasses-product-card-color">
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-green"
                ></a>
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-red"
                ></a>
              </div>
            </li>
            <li class="glasses-product-card">
              <img src="../assets/images/product-4.png" alt="glasses-4" />
              <h3 class="glasses-product-card-title">
                <span class="glasses-product-card-title-text">BJ41600S</span>
                <span class="glasses-product-card-title-price">NTD3,490</span>
              </h3>
              <div class="glasses-product-card-color">
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-green"
                ></a>
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-red"
                ></a>
              </div>
            </li>
            <li class="glasses-product-card">
              <img src="../assets/images/product-5.png" alt="glasses-5" />
              <h3 class="glasses-product-card-title">
                <span class="glasses-product-card-title-text">BJ41600S</span>
                <span class="glasses-product-card-title-price">NTD3,490</span>
              </h3>
              <div class="glasses-product-card-color">
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-green"
                ></a>
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-red"
                ></a>
              </div>
            </li>
            <li class="glasses-product-card glasses-sm">
              <img src="../assets/images/product-6.png" alt="glasses-6" />
              <h3 class="glasses-product-card-title">
                <span class="glasses-product-card-title-text">BJ41600S</span>
                <span class="glasses-product-card-title-price">NTD3,490</span>
              </h3>
              <div class="glasses-product-card-color">
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-green"
                ></a>
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-red"
                ></a>
              </div>
            </li>
            <li class="glasses-product-card glasses-lg">
              <img src="../assets/images/product-1.png" alt="glasses-1" />
              <h3 class="glasses-product-card-title">
                <span class="glasses-product-card-title-text">BJ41600S</span>
                <span class="glasses-product-card-title-price">NTD3,490</span>
              </h3>
              <div class="glasses-product-card-color">
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-green"
                ></a>
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-red"
                ></a>
              </div>
            </li>
            <li class="glasses-product-card glasses-lg">
              <img src="../assets/images/product-2.png" alt="glasses-2" />
              <h3 class="glasses-product-card-title">
                <span class="glasses-product-card-title-text">BJ41600S</span>
                <span class="glasses-product-card-title-price">NTD3,490</span>
              </h3>
              <div class="glasses-product-card-color">
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-green"
                ></a>
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-red"
                ></a>
              </div>
            </li>
            <li class="glasses-product-card glasses-lg">
              <img src="../assets/images/product-3.png" alt="glasses-3" />
              <h3 class="glasses-product-card-title">
                <span class="glasses-product-card-title-text">BJ41600S</span>
                <span class="glasses-product-card-title-price">NTD3,490</span>
              </h3>
              <div class="glasses-product-card-color">
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-green"
                ></a>
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-red"
                ></a>
              </div>
            </li>
            <li class="glasses-product-card glasses-lg">
              <img src="../assets/images/product-4.png" alt="glasses-4" />
              <h3 class="glasses-product-card-title">
                <span class="glasses-product-card-title-text">BJ41600S</span>
                <span class="glasses-product-card-title-price">NTD3,490</span>
              </h3>
              <div class="glasses-product-card-color">
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-green"
                ></a>
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-red"
                ></a>
              </div>
            </li>
            <li class="glasses-product-card glasses-lg">
              <img src="../assets/images/product-5.png" alt="glasses-5" />
              <h3 class="glasses-product-card-title">
                <span class="glasses-product-card-title-text">BJ41600S</span>
                <span class="glasses-product-card-title-price">NTD3,490</span>
              </h3>
              <div class="glasses-product-card-color">
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-green"
                ></a>
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-red"
                ></a>
              </div>
            </li>
            <li class="glasses-product-card glasses-lg">
              <img src="../assets/images/product-6.png" alt="glasses-6" />
              <h3 class="glasses-product-card-title">
                <span class="glasses-product-card-title-text">BJ41600S</span>
                <span class="glasses-product-card-title-price">NTD3,490</span>
              </h3>
              <div class="glasses-product-card-color">
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-green"
                ></a>
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-red"
                ></a>
              </div>
            </li>
          </ul>
          <ul class="pagination">
            <li class="pagination-item">
              <a href="#" class="pagination-item-pre">上一頁</a>
            </li>
            <li class="pagination-item">
              <a href="#" class="pagination-item-page">1</a>
            </li>
            <li class="pagination-item">
              <a href="#" class="pagination-item-page active">2</a>
            </li>
            <li class="pagination-item">
              <a href="#" class="pagination-item-page">3</a>
            </li>
            <li class="pagination-item">
              <a href="#" class="pagination-item-page">4</a>
            </li>
            <li class="pagination-item">
              <a href="#" class="pagination-item-page">5</a>
            </li>
            <li class="pagination-item">
              <a href="#" class="pagination-item-pre">下一頁</a>
            </li>
          </ul>
        </section>
        <section class="sunglasses-section" id="sunglasses">
          <div class="sunglasses-content">
            <h2 class="sunglasses-content-title">2020 NEW COLLECTION</h2>
            <p class="sunglasses-content-description">賽璐珞鈦金屬混合鏡框</p>
          </div>
          <ul class="glasses-product">
            <li class="glasses-product-card">
              <img src="../assets/images/product-7.png" alt="glasses-7" />
              <h3 class="glasses-product-card-title">
                <span class="glasses-product-card-title-text">BJ41600S</span>
                <span class="glasses-product-card-title-price">NTD3,490</span>
              </h3>
              <div class="glasses-product-card-color">
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-green"
                ></a>
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-red"
                ></a>
              </div>
            </li>
            <li class="glasses-product-card">
              <img src="../assets/images/product-8.png" alt="glasses-8" />
              <h3 class="glasses-product-card-title">
                <span class="glasses-product-card-title-text">BJ41600S</span>
                <span class="glasses-product-card-title-price">NTD3,490</span>
              </h3>
              <div class="glasses-product-card-color">
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-green"
                ></a>
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-red"
                ></a>
              </div>
            </li>
            <li class="glasses-product-card">
              <img src="../assets/images/product-9.png" alt="glasses-9" />
              <h3 class="glasses-product-card-title">
                <span class="glasses-product-card-title-text">BJ41600S</span>
                <span class="glasses-product-card-title-price">NTD3,490</span>
              </h3>
              <div class="glasses-product-card-color">
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-green"
                ></a>
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-red"
                ></a>
              </div>
            </li>
            <li class="glasses-product-card">
              <img src="../assets/images/product-10.png" alt="glasses-10" />
              <h3 class="glasses-product-card-title">
                <span class="glasses-product-card-title-text">BJ41600S</span>
                <span class="glasses-product-card-title-price">NTD3,490</span>
              </h3>
              <div class="glasses-product-card-color">
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-green"
                ></a>
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-red"
                ></a>
              </div>
            </li>
            <li class="glasses-product-card">
              <img src="../assets/images/product-11.png" alt="glasses-11" />
              <h3 class="glasses-product-card-title">
                <span class="glasses-product-card-title-text">BJ41600S</span>
                <span class="glasses-product-card-title-price">NTD3,490</span>
              </h3>
              <div class="glasses-product-card-color">
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-green"
                ></a>
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-red"
                ></a>
              </div>
            </li>
            <li class="glasses-product-card glasses-sm">
              <img src="../assets/images/product-12.png" alt="glasses-12" />
              <h3 class="glasses-product-card-title">
                <span class="glasses-product-card-title-text">BJ41600S</span>
                <span class="glasses-product-card-title-price">NTD3,490</span>
              </h3>
              <div class="glasses-product-card-color">
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-green"
                ></a>
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-red"
                ></a>
              </div>
            </li>
            <li class="glasses-product-card glasses-lg">
              <img src="../assets/images/product-7.png" alt="glasses-7" />
              <h3 class="glasses-product-card-title">
                <span class="glasses-product-card-title-text">BJ41600S</span>
                <span class="glasses-product-card-title-price">NTD3,490</span>
              </h3>
              <div class="glasses-product-card-color">
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-green"
                ></a>
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-red"
                ></a>
              </div>
            </li>
            <li class="glasses-product-card glasses-lg">
              <img src="../assets/images/product-8.png" alt="glasses-8" />
              <h3 class="glasses-product-card-title">
                <span class="glasses-product-card-title-text">BJ41600S</span>
                <span class="glasses-product-card-title-price">NTD3,490</span>
              </h3>
              <div class="glasses-product-card-color">
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-green"
                ></a>
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-red"
                ></a>
              </div>
            </li>
            <li class="glasses-product-card glasses-lg">
              <img src="../assets/images/product-9.png" alt="glasses-9" />
              <h3 class="glasses-product-card-title">
                <span class="glasses-product-card-title-text">BJ41600S</span>
                <span class="glasses-product-card-title-price">NTD3,490</span>
              </h3>
              <div class="glasses-product-card-color">
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-green"
                ></a>
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-red"
                ></a>
              </div>
            </li>
            <li class="glasses-product-card glasses-lg">
              <img src="../assets/images/product-10.png" alt="glasses-10" />
              <h3 class="glasses-product-card-title">
                <span class="glasses-product-card-title-text">BJ41600S</span>
                <span class="glasses-product-card-title-price">NTD3,490</span>
              </h3>
              <div class="glasses-product-card-color">
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-green"
                ></a>
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-red"
                ></a>
              </div>
            </li>
            <li class="glasses-product-card glasses-lg">
              <img src="../assets/images/product-11.png" alt="glasses-11" />
              <h3 class="glasses-product-card-title">
                <span class="glasses-product-card-title-text">BJ41600S</span>
                <span class="glasses-product-card-title-price">NTD3,490</span>
              </h3>
              <div class="glasses-product-card-color">
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-green"
                ></a>
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-red"
                ></a>
              </div>
            </li>
            <li class="glasses-product-card glasses-lg">
              <img src="../assets/images/product-12.png" alt="glasses-12" />
              <h3 class="glasses-product-card-title">
                <span class="glasses-product-card-title-text">BJ41600S</span>
                <span class="glasses-product-card-title-price">NTD3,490</span>
              </h3>
              <div class="glasses-product-card-color">
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-green"
                ></a>
                <a
                  class="glasses-product-card-color-box glasses-product-card-color-red"
                ></a>
              </div>
            </li>
          </ul>
          <%- include('./layout/pagination'); -%>
        </section>
      </div>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
